# Download Drivers for SQL database connectivity

#For Linux and Mac OS:
    
https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-2017
    
    
#For Windows:
https://www.microsoft.com/en-us/download/details.aspx?id=56567

# PostgreSQL (No need to install Microsoft ODBC drivers)

In [ ]:
#!pip install psycopg2

Method1

In [116]:
#!pip install pyodbc
#!pip install pypyodbc
#import pyodbc
import pypyodbc
import psycopg2
import csv
import pandas as pd
from sqlalchemy import create_engine

host = '**********'
database = '***********'
user = '***********'
password = '***********'
driver='{ODBC Driver 17 for SQL Server}'
Enabled = 'Enabled'
connection = pypyodbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                 "SERVER=***********;"
                 "DATABASE=***********;"
                 "UID=***********;"
                 "PWD=***********;"
                  "TrustServerCertificate=no;"
                 "Connection Timeout=60")

# connection = pypyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
#    'Server=***********;'
#    'Database=***********;'
#    'uid=***********;pwd=***********;'
#    'encoding="utf-8"')

cursor = connection.cursor()
# connection.setencoding(unicode, encoding='utf-8', ctype=pyodbc.SQL_CHAR)

query = "SELECT top 10 * FROM [table] with (NOLOCK)"
df = pd.read_sql(query,connection)
connection.commit()
# connection.close()
#df.head()

In [117]:
# df.columns.values
colnames = ['log***','gfhdfxh']
df.columns = colnames

In [118]:
df = df.rename(columns={'dvsz':'vzs', 'hdxxh':'xhth'})
df2 = df[['zv','vzs']]
curr_d = tuple(set(df2['current_device']))

In [ ]:
#for uploading data to Postgres

conn = psycopg2.connect("dbname='*****' user='beewise' host='******' password='********'")
cur = conn.cursor()
# query = "select id as user_id,current_device from users_user where current_device in " + str(curr_d)
query = "select * from [table];"
print query

dfp = pd.read_sql(query,conn)
#conn.commit()
# connection.close()
print ("\n")
print ("Query excecuted successfully")

dfp_dict = dfp.set_index('current_device').to_dict()['user_id'] #creating dictionary from two columns for mapping
dfp_dict
df2['user_id'] = df2['current_device'].map(dfp_dict) #inserting new column with values associate to records which are  in dictionary created from two columns of another dataframe for mapping

df2 = df2.login.replace([None], 0)
df2['user_id'] = df2['user_id'].astype('int64')


from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://user:password@hostname/database_name')

df2.to_sql('table_name', con = engine, if_exists='append',index=False)
print ("\nQuery excecuted successfully")
# connection.close()
# engine.drop
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Method 2

In [ ]:
# postgresql connection test
import pandas as pd
import psycopg2

conn = psycopg2.connect("dbname='********' user='*********' host='***********' password='*******'")
cur = conn.cursor()
conn.autocommit = True

query1 = "select column_name from information_schema.columns where table_name='users_user'"
query = "SELECT * FROM users_user where current_device in ('deleted','deleted_deleted_99xxxxxxxx');" 
cur.execute(query1)
columns = cur.fetchall()
cur.execute(query)
data = cur.fetchall()
col = [str(i[0]) for i in columns]
col
conn.close
#print (data)

In [ ]:
df = pd.DataFrame(data, columns=col)
df.head()

# SQL Server/ MSSQL (Install Microsoft ODBC drivers first)

Method 1

In [ ]:
#!pip install pyodbc
import pyodbc
import pandas as pd

host = '<Enter IP here>'
database = 'Application_data'
user = 'analysis'
password = '<enter password>'
driver='{ODBC Driver 17 for SQL Server}'
Enabled = 'Enabled'
connection = pyodbc.connect('DRIVER={};SERVER={};DATABASE={};UID={};PWD={};ColumnEncryption={};'.format('{ODBC Driver 17 for SQL Server}', host,database,user,password,Enabled))
cursor = connection.cursor()
query = "SELECT top 10 * FROM table"
df = pd.read_sql(query,connection)
df.head()

df['event_value'] = df['event_value'].replace([None], ['{}'])

#Dictionary like string records to dictionary e.g. '{'a'='abc','b'=2}' to {'a'='abc','b'=2} for each record in column
import json
from io import StringIO
def str_to_dict(dict_str):
     # Convert to proper json format
    #dict_string = dict_str.replace("'", '"').replace("u'", "'")
    try:
        return json.loads(dict_str.strip())
    except:
        logging.error(str(dict_str)+"\n")
        print (dict_str + "\n" )
        return {}
            
# logging.info("\nDate: "+str(aa)+"\nQuery: "+str(query)+"\nExecution time: "+str(c))
df['event_value'] = df['event_value'].apply(str_to_dict) 


df['event_value'] = df['event_value'].apply(lambda x: {k.strip(): v for k, v in x.items()}) #stripping leading and trailing spaces from keys to avoid duplicates

################# Creating multiple columns based on keys from dictionary records of one column and appending to original dataframe 
df = pd.concat([df, df['event_value'].apply(pd.Series)], axis = 1)
############################################################################

#converting all columns to String except ID
df = df.replace([None], [''])
cols=[i for i in df.columns if i not in ["ID"]]
for col in cols:
    df[col]=df[col].astype(str)
    
    
###############SQL Alchemy for data uploading#################
from sqlalchemy import create_engine 
import urllib
server = '*****'
database = '********'
username = '**********'
password = '*********'
#driver='{ODBC Driver 17 for SQL Server}'
#Enabled = 'Enabled'
params = urllib.parse.quote_plus(
'DRIVER={ODBC Driver 17 for SQL Server};'+ 
'SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password) 

engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params) 

###Connection checking
connected = pd.io.sql._is_sqlalchemy_connectable(engine)
logging.info("connected:" + str(connected))

In [ ]:
from datetime import timedelta
import datetime
a = datetime.datetime.now()
print (a)

q = "SELECT top 10 * FROM table"
dfcc = pd.read_sql(q,connection)

# len(dfcc.columns.values)
dfcc.dtypes

type(df.email.iloc[0])
dfcc.columns.values

new = list(set(df.columns)-set(dfcc.columns))
print (new)

#Inserting new columns (one by one) if it does not exist in SQL table
if len(new)!=0:
    for col in range(len(new)):
        qq = "ALTER TABLE Apps_Flyer_New ADD [%s] VARCHAR(max);"%new[col]
        print (qq)
        cursor.execute(qq)
        # connection.commit()
        logging.info("%s New columns created viz %s"%(str(len(new)),str(new)))
else:
    logging.info("No new columns created")

df.to_sql('Apps_Flyer_New', con=engine, if_exists='append', index=False, chunksize=20000) 
# df.to_sql('Apps_Flyer_New85', con=engine, if_exists='replace', index=False, chunksize=20000) 


b = datetime.datetime.now()
print (b)

c = b - a

time = divmod(c.days * 86400 + c.seconds, 60)
print (time)

Email mapping

In [ ]:

equery = "SELECT email_id FROM email_id_mapping"
dfem = pd.read_sql(equery,connection)
dfem.head()

##########  Logic 1 (Load data from SQL) Start #######################
# equery = "SELECT Email1,[Email ID],[Email id2],email,[email id1],emailId FROM table where CreatedDate>='2018-08-10 00:00:00.000' and CreatedDate<'2018-08-13 00:00:00.000'"  
equery = "SELECT Email1,[Email ID],[Email id2],email,[email id1],emailId FROM Apps_Flyer_New"  
dfe = pd.read_sql(equery,connection)
print (len(dfe))
dfe.columns.values
# set(df.Col1).union(set(df.Col2))
# pd.unique(df1[['Col1', 'Col2']].values.ravel('K'))
ue = pd.unique(dfe[['Email1', 'Email ID', 'Email id2','email', 'email id1', 'emailId']].values.ravel('K')).tolist()
print (len(ue))
##########  Logic 1 (Load data from SQL) end #######################


##########  Logic 2 (Existing data frame) start #######################
# dfcol = df.columns.values 
# colnames = ['Email1', 'Email ID', 'Email id2','email', 'emailId', 'email id1']
# col = list(set.intersection(set(dfcol),set(colnames)))
# col

# ue = pd.unique(df[col].values.ravel('K')).tolist()
# print (len(ue))
##########  Logic 2 (Existing data frame) End #######################

uef = pd.DataFrame({'email':ue})

# udf.apply(lambda x: sum(x.isnull()))
uef['email'].isnull().sum()

# udf.replace([''],[None],inplace=True)
# udf.dropna(subset=['mobile'], inplace=True)

uef.replace([''],[None],inplace=True)
uef.dropna(subset=['email'], inplace=True)

# len(uef[uefdf.email.str.contains("@") == False])

#condition
uef = uef[uef.email.str.contains("@")]
uef['email']=uef['email'].map(lambda x: x.strip())
print (len(uef))

# ll = uef['email'].tolist()
# uel = [x for x in ll if "@" in x ]
# uef = pd.DataFrame({'email':uel})
uef = uef[uef.email.str.len()<75]
# uel = [x.strip(' ') for x in uel]
# ueno = [x for x in uel if "@" not in x ]
# len(uel)

# diffle1 = [i.lower() for i in diffle1]
# diffle1 = [i.upper() for i in diffle1]
# df['x'].str.lower()
ediffl = list(set(uef.email.str.lower())-set(dfem.email_id.str.lower()))
print (len(ediffl))

edfdiff = pd.DataFrame({'email':ediffl})

edfdiff.replace([''],[None],inplace=True)
edfdiff.dropna(subset=['email'], inplace=True)
#Conditions
# ediffl1 = [ x for x in ediffl if "*" not in x ]
# print (len(ediffl1))
# ediffl0 = [ x for x in ediffl if "*" in x ]
# print (len(ediffl0))
edfdiff.to_sql('table', con=engine, if_exists='replace', index=False)

print ("\n")
print ("Query excecuted successfully")

Code

In [ ]:
pquery = "SELECT code FROM l_code_mapping"
dfpm = pd.read_sql(pquery,connection)
dfpm.head()
cquery = "SELECT ID1,Id FROM table"
pdf = pd.read_sql(cquery,connection)
print (len(pdf))
pdf.columns.values

# set(df.Col1).union(set(df.Col2))
# pd.unique(df1[['Col1', 'Col2']].values.ravel('K'))
#['PhoneNumber', 'phoneNo', 'Phone', 'Mobile', 'Phone no']
up = pd.unique(pdf[['ID1', 'Id']].values.ravel('K')).tolist()
print (len(up))

up = [str(x) for x in up if "@" not in str(x)]
up = [str(x) for x in up if "nan" not in str(x)]
up = [str(x) for x in up if "None" not in str(x)]

# udf = pd.DataFrame({'mobile':udl})
updf = pd.DataFrame({'code':up})

dfpm.columns.values

updf['code'].isnull().sum()

updf.replace([''],[None],inplace=True)
updf.dropna(subset=['code'], inplace=True)

# len(uef[uefdf.email.str.contains("@") == False])

#condition
# uef = uef[uef.email.str.contains("@")]
updf['code']=updf['code'].map(lambda x: x.strip())
print (len(updf))


pdiffl = list(set(updf.code.str.upper())-set(dfpm.l_code.str.upper()))
print (len(pdiffl))

pdfdiff = pd.DataFrame({'code':pdiffl})

pdfdiff.replace([''],[None],inplace=True)
pdfdiff.dropna(subset=['code'], inplace=True)
#Conditions
# ediffl1 = [ x for x in ediffl if "*" not in x ]
# print (len(ediffl1))
# ediffl0 = [ x for x in ediffl if "*" in x ]
# print (len(ediffl0))
pdfdiff.to_sql('table2', con=engine, if_exists='replace', index=False)
print ("\n")
print ("Query excecuted successfully")

Mobile no. mapping

In [ ]:
import numpy as np

mquery = "SELECT mobile_no FROM mobile_no_mapping"
dfmm = pd.read_sql(mquery,connection)
dfmm.head()

m1query = "SELECT PhoneNumber,phoneNo,Phone,Mobile,[Phone no] FROM table"
dfm = pd.read_sql(m1query,connection)
dfm.columns.values

#https://stackoverflow.com/questions/20763012/creating-a-pandas-dataframe-from-a-numpy-array-how-do-i-specify-the-index-colum
#pd.concat([df, pd.Series(list(set(df['Ligand_miss'].values) - set(df['Ligand_hit'].values)))], ignore_index=True, axis=1)
# diff=pd.Series(list(set(udf['mobile'].values) - set(dfm['mobile_no'].values)))
udl = pd.unique(dfm[['PhoneNumber', 'phoneNo', 'Phone', 'Mobile', 'Phone no']].values.ravel('K')).tolist()
print (len(udl))

udl = [str(x) for x in udl if "@" not in str(x)]
udl = [str(x) for x in udl if "*" not in str(x)]

udf = pd.DataFrame({'mobile':udl})
print (len(udf))

udf.replace([''],[None],inplace=True)
udf.dropna(subset=['mobile'], inplace=True)
udf['mobile'] = udf['mobile'].apply(lambda x: x.replace(" ", ""))
udf['mobile'] = udf['mobile'].apply(lambda x: x.strip('.0'))

print (len(udf))

# aa = udf['mobile'].apply(lambda x: str(x)[-10:] if x.isdigit() else str(x))
# aa1 = dft['Phone1'].apply(lambda x: str(x)[2:] if (x.isdigit() and len(str(x))==12) else str(x))
# aa = udf['mobile'].apply(lambda x: str(x)[-10:])
# aa = aa[aa.apply(lambda x: x.isdigit())]
aa1 = udf['mobile'][udf['mobile'].apply(lambda x: x.isdigit())]
aa = aa1.apply(lambda x: x if len(str(x))>6 else np.NaN).dropna()
# aa = aa.astype(int)
print (len(aa))

# print (dfdiff[dfdiff.mobile.str.len() == 12])
print (sum(aa.isnull()))
dfm1 = aa.to_frame()
print (dfm1.head())
print (len(dfm1))

diffl = list(set(dfm1.mobile)-set(dfmm.mobile_no))
print (len(diffl))
# diffl1 = [ str(x) for x in diffl if "*" not in str(x) ]
# print (len(diffl1))
# diffl0 = [ str(x) for x in diffl if "*" in str(x) ]
# print (len(diffl0))

# difflm = [ x for x in diffl1 if "@" not in x ]
# difflm1 = [s.strip('.0') for s in difflm]
# difflm1 = [s.replace(" ", "") for s in difflm1]
# print (len(difflm1))
# difflm1

dfdiff = pd.DataFrame({'mobile':diffl})

dfdiff.replace([''],[None],inplace=True)
dfdiff.dropna(subset=['mobile'], inplace=True)


print (dfdiff.head())

print (dfdiff.shape)

dfdiff.to_sql('table2', con=engine, if_exists='replace', index=False)
# dfdiff = dfdiff[dfdiff.mobile.apply(lambda x: x.isnumeric())]

# dfdiff = diffl1.to_frame()
# dfdiff = dfdiff.rename(columns= {0: 'mobile'})
print ("\n")
print ("Query excecuted successfully")

Method 2

In [ ]:
#!pip install pyodbc
import pyodbc
import csv

host = '<Enter IP here>'
database = 'Application_data'
user = 'analysis'
password = '<enter password>'
driver='{ODBC Driver 17 for SQL Server}'
Enabled = 'Enabled'
connection = pyodbc.connect('DRIVER={};SERVER={};DATABASE={};UID={};PWD={};ColumnEncryption={};'.format('{ODBC Driver 17 for SQL Server}', host,database,user,password,Enabled))
cursor = connection.cursor()
#query = "SELECT top 10 * FROM CUSTOMERS"
#query = "exec sp_columns CUSTOMERS" #To get the column names
#query = "SELECT * FROM Sys.Tables"
#query = "CREATE TABLE CUSTOMERS(ID INT NOT NULL,NAME VARCHAR (20) NOT NULL,AGE  INT NOT NULL,ADDRESS  CHAR (25) ,SALARY   DECIMAL (18, 2), PRIMARY KEY (ID))"
#query = "INSERT INTO CUSTOMERS (ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'ABC', 32, 'xyz', 100.00 );"

cursor.execute(query)        
print (query)
#print (row)
#close the connection to the database.
data = cursor.fetchall()
print (data)
connection.commit()
connection.close()
print ("\n")
print ("Query excecuted successfully")

Method 3

In [ ]:
import pyodbc
import csv

server = '<Enter IP here>'
database = '******'
username = '*****'
password = '<enter password>'
driver='{ODBC Driver 17 for SQL Server}'

connection = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1443;DATABASE='+database+';UID='+username+';PWD='+password)
cursor = connection.cursor()

# MongoDB

In [ ]:
#!pip install pymysql

import pymysql

pymysql.install_as_MySQLdb()

import MySQLdb

In [ ]:
#!pip install pymongo
import pymongo
import json
from pymongo import MongoClient

In [2]:
import pandas as pd
from pymongo import MongoClient
# if __name__ == '__main__':
#     client = MongoClient("localhost", 27017, maxPoolSize=50)
client = MongoClient("localhost", 27017, maxPoolSize=50)
db = client.mydb
collection = db.angel
data = pd.DataFrame(list(collection.find()))

data

,Address,City,Name,State,ZIP,_id
0,123 Main St,Whereverville,Jane Doe,CA,90210,5af03bfa8ca570abf4a2f76c
1,555 Broadway Ave,New York,John Doe,NY,10010,5af03bfa8ca570abf4a2f76d