In [385]:
# l = ['AB-BC','AB-BC',"CD-BC",'BC-CD','BC-AB','AB-BC','BC-CD',"CD-BC",'BC-AB','AB-BC','BC-CD','BC-AB',"CD-BC"]
l = ['AB-BC','AB-BC',"CD-BC",'BC-CD','CB-BA','AB-BC','BC-CD',"CD-BC",'BC-AB','AB-BC','BC-CD','BC-AB',"CD-BC"]

In [386]:
from collections import Counter 
  
def groupStrings(input): 
    # traverse all strings one by one 
    # dict is an empty dictionary 
    dict={} 
      
    for word in input: 
        wordDict=Counter(word) 
        key = wordDict.keys() 
        key = sorted(key) 
        key = ''.join(key)  
        if key in dict.keys(): 
            dict[key].append(word) 
        else: 
            dict[key]=[] 
            dict[key].append(word) 
    return dict

In [387]:
dict1 = groupStrings(l)

In [388]:
print (dict1)

{'-ABC': ['AB-BC', 'AB-BC', 'CB-BA', 'AB-BC', 'BC-AB', 'AB-BC', 'BC-AB'], '-BCD': ['CD-BC', 'BC-CD', 'BC-CD', 'CD-BC', 'BC-CD', 'CD-BC']}

In [352]:
d1 = {key: len(dict1[key]) for key in dict1}

In [384]:
d1

{'-ABC': 7, '-BCD': 6}

In [358]:
ll = [*dict1.values()]
dk = [*dict1.keys()]

In [344]:

kk = []

for x in range(len(ll)):
    kk.append(ll[x][0])

kk

['AB-BC', 'CD-BC']

In [375]:
dictionary = dict(zip(dk, kk))
dictionary

{'-ABC': 'AB-BC', '-BCD': 'CD-BC'}

In [369]:
import pandas as pd
df = pd.DataFrame(list(d1.items()))
df

      0  1
0  -ABC  7
1  -BCD  6

In [382]:
df[0].replace(dictionary,inplace=True)

df

       0  1
0  AB-BC  7
1  CD-BC  6

===================================================================================