In [21]:
import pandas as pd
import glob
import os

In [22]:
def readMessagesFromFile(fPath, colNames, **kwargs):
    """Reads a file with messages and corresponding sentiments and
    returns a pandas DataFrame.

    fPath    : Path to the file to read messages from.
    colNames : Column names for the returned DataFrame.
    Returns  : Pandas DataFrame containing messages and sentiments
               as columns.

    Sample Output:
                                                 message  sentiment
    0                           Wow... Loved this place.          1
    1  I learned that if an electric slicer is used t...        NaN
    2                   But they don't clean the chiles?        NaN
    3                                 Crust is not good.          0
    4          Not tasty and the texture was just nasty.          0

    """
    
    df = pd.read_csv(fPath,names=colNames,header=None,sep='\t')
    
    return df

In [23]:
readMessagesFromFile('C:/Users/Suhas/Downloads/recruitment-task/data/amazon_cells_labelled.txt',['message','sentiment'])

                                                 message  sentiment
0      I try not to adjust the volume setting to avoi...        NaN
1      So there is no way for me to plug it in here i...        0.0
2                            Good case, Excellent value.        1.0
3            I thought Motorola made reliable products!.        NaN
4                             Battery for Motorola Razr.        NaN
5                                 Great for the jawbone.        1.0
6      When I got this item it was larger than I thou...        NaN
7      (I looked for one that specifically said DCU-6...        NaN
8      The first time it was turned on the screen dis...        NaN
9      In some programs clicking it is the same as hi...        NaN
10     Tied to charger for conversations lasting more...        0.0
11                                     The mic is great.        1.0
12     What happened was that I only had like 70 cont...        NaN
13     I have to jiggle the plug to get it to line up...        0.0
14     I bought five of thes for less than five dollars.        NaN
15     If you have several dozen or several hundred c...        0.0
16         I had the two year contract for this service.        NaN
17           If you are Razr owner...you must have this!        1.0
18                   Needless to say, I wasted my money.        0.0
19        If money is no constraint then just go for it.        NaN
20                         Try texting fast with it...4.        NaN
21                      What a waste of money and time!.        0.0
22     If you buy this phone and have problems, you n...        NaN
23     This company will not give me back all of my m...        NaN
24                       And the sound quality is great.        1.0
25                                        It made sense.        NaN
26     He was very impressed when going from the orig...        1.0
27     Others have complained of chipping paint but i...        NaN
28     I'm giving it a third try because I really wan...        NaN
29     If the two were seperated by a mere 5+ ft I st...        0.0
...                                                  ...        ...
14579                   This phone isn't all that great.        NaN
14580              Lives up to all the expected demands.        NaN
14581  I did notice that it said &#34;Made in China&#...        NaN
14582  All I have to compare this product with is the...        NaN
14583                         It was well worth getting.        NaN
14584  It is not just me, 3 people in my office have ...        NaN
14585                                      Works Great!.        NaN
14586  If you like for people to hear you when you ta...        NaN
14587  The first thing I'll mention is the blatant li...        NaN
14588  After months of searching, I finally found acc...        NaN
14589                               This product WORKS!.        NaN
14590              We wanted to be able to contact them.        NaN
14591  When I bought the Lenmar CBD366 via Amazon, it...        NaN
14592  you don't have to have be near a wifi hot spot...        NaN
14593  Also, to access the mp3 you need to install a ...        NaN
14594                                   Not spectacular.        NaN
14595  Because leaving it in my ear was chancy at bes...        NaN
14596                         nice garbage....literally.        NaN
14597                               Connection problems.        NaN
14598  After two days of use, one of the audio channe...        NaN
14599          But that i can sell it and make my money.        NaN
14600                                    What warranty?.        NaN
14601  Like I said, the design is great.The hardware ...        NaN
14602  They promised that they are reviewing the poss...        NaN
14603                      Found one here thru Eforcity.        NaN
14604        The screen on my phone said "Not Charging".        NaN
14605   This is my 4th Samsung cell phone with T-Mobile.        NaN
14606                                     great company.        NaN
14607  The "call" and "hang-up" keys are now properly...        NaN
14608              Hopefully the Kyocera will be better!        NaN

[14609 rows x 2 columns]

In [24]:
def findFilesInDir(dirPath, pattern):
    """Finds the list of filenames in `dirPath` that match `pattern`.

    dirPath : Path to the directory to find files in.
    pattern : A glob pattern to match filenames against.
    Returns : List of filenames in `dirPath` that match `pattern`.
    """
    text_files = [f for f in os.listdir(dirPath) if f.endswith(pattern)]
    return text_files

In [25]:
findFilesInDir('C:\\Users\\Suhas\\Downloads\\recruitment-task\\data','.txt')

['amazon_cells_labelled.txt',
 'imdb_labelled.txt',
 'readme.txt',
 'yelp_labelled.txt']

In [26]:
import glob
ll = glob.glob('C:/Users/Suhas/Downloads/recruitment-task/data/*_labelled.txt')

In [27]:
# all_txt_files = list(filter(lambda x: x.endswith('.txt'), os.listdir(k)))
# all_txt_files

In [28]:
def readMessagesFromDir(dirPath, fileNamePattern, dfColNames, **kwargs):
    """For files in directory that match a pattern, return a dictionary of
    pandas DataFrames labeled by the filepaths.

    dirPath         : Path to the directory to find files in.
    fileNamePattern : A glob pattern to match filenames against.
    dfColNames      : Column names for the returned DataFrame.
    Returns         : Dictionary of DataFrames labeled by the filepaths.

    """
    import glob
    filepaths = glob.glob(dirPath + fileNamePattern)
    d = {}
    for fp in filepaths:
        df = pd.read_csv(fp,names=dfColNames,header=None,sep='\t')
        d[fp] = df
        
    return d

In [29]:
col = ['messages','sentiment']

DFDict = readMessagesFromDir('C:/Users/Suhas/Downloads/recruitment-task/data/','*_labelled.txt',col)

In [30]:
DFDict

{'C:/Users/Suhas/Downloads/recruitment-task/data\\amazon_cells_labelled.txt':                                                 messages  sentiment
 0      I try not to adjust the volume setting to avoi...        NaN
 1      So there is no way for me to plug it in here i...        0.0
 2                            Good case, Excellent value.        1.0
 3            I thought Motorola made reliable products!.        NaN
 4                             Battery for Motorola Razr.        NaN
 5                                 Great for the jawbone.        1.0
 6      When I got this item it was larger than I thou...        NaN
 7      (I looked for one that specifically said DCU-6...        NaN
 8      The first time it was turned on the screen dis...        NaN
 9      In some programs clicking it is the same as hi...        NaN
 10     Tied to charger for conversations lasting more...        0.0
 11                                     The mic is great.        1.0
 12     What happened was that I only had like 70 cont...        NaN
 13     I have to jiggle the plug to get it to line up...        0.0
 14     I bought five of thes for less than five dollars.        NaN
 15     If you have several dozen or several hundred c...        0.0
 16         I had the two year contract for this service.        NaN
 17           If you are Razr owner...you must have this!        1.0
 18                   Needless to say, I wasted my money.        0.0
 19        If money is no constraint then just go for it.        NaN
 20                         Try texting fast with it...4.        NaN
 21                      What a waste of money and time!.        0.0
 22     If you buy this phone and have problems, you n...        NaN
 23     This company will not give me back all of my m...        NaN
 24                       And the sound quality is great.        1.0
 25                                        It made sense.        NaN
 26     He was very impressed when going from the orig...        1.0
 27     Others have complained of chipping paint but i...        NaN
 28     I'm giving it a third try because I really wan...        NaN
 29     If the two were seperated by a mere 5+ ft I st...        0.0
 ...                                                  ...        ...
 14579                   This phone isn't all that great.        NaN
 14580              Lives up to all the expected demands.        NaN
 14581  I did notice that it said &#34;Made in China&#...        NaN
 14582  All I have to compare this product with is the...        NaN
 14583                         It was well worth getting.        NaN
 14584  It is not just me, 3 people in my office have ...        NaN
 14585                                      Works Great!.        NaN
 14586  If you like for people to hear you when you ta...        NaN
 14587  The first thing I'll mention is the blatant li...        NaN
 14588  After months of searching, I finally found acc...        NaN
 14589                               This product WORKS!.        NaN
 14590              We wanted to be able to contact them.        NaN
 14591  When I bought the Lenmar CBD366 via Amazon, it...        NaN
 14592  you don't have to have be near a wifi hot spot...        NaN
 14593  Also, to access the mp3 you need to install a ...        NaN
 14594                                   Not spectacular.        NaN
 14595  Because leaving it in my ear was chancy at bes...        NaN
 14596                         nice garbage....literally.        NaN
 14597                               Connection problems.        NaN
 14598  After two days of use, one of the audio channe...        NaN
 14599          But that i can sell it and make my money.        NaN
 14600                                    What warranty?.        NaN
 14601  Like I said, the design is great.The hardware ...        NaN
 14602  They promised that they are reviewing the poss...        NaN
 14603                      Found one here thru Eforcity.        NaN
 14604        The screen on my phone said "Not Charging".        NaN
 14605   This is my 4th Samsung cell phone with T-Mobile.        NaN
 14606                                     great company.        NaN
 14607  The "call" and "hang-up" keys are now properly...        NaN
 14608              Hopefully the Kyocera will be better!        NaN

 [14609 rows x 2 columns],
 'C:/Users/Suhas/Downloads/recruitment-task/data\\imdb_labelled.txt':                                               messages  sentiment
 0    A very, very, very slow-moving, aimless movie ...          0
 1    Not sure who was more lost - the flat characte...          0
 2    Attempting artiness with black & white and cle...          0
 3         Very little music or anything to speak of.            0
 4    The best scene in the movie was when Gerardo i...          1
 5    The rest of the movie lacks art, charm, meanin...          0
 6                                  Wasted two hours.            0
 7    Saw the movie today and thought it was a good ...          1
 8                                 A bit predictable.            0
 9    Loved the casting of Jimmy Buffet as the scien...          1
 10                And those baby owls were adorable.            1
 11   The movie showed a lot of Florida at it's best...          1
 12   The Songs Were The Best And The Muppets Were S...          1
 13                                   It Was So Cool.            1
 14   This is a very "right on case" movie that deli...          1
 15   It had some average acting from the main perso...          0
 16   This review is long overdue, since I consider ...          1
 17   I'll put this gem up against any movie in term...          1
 18   It's practically perfect in all of them  a tr...          1
 19    The structure of this film is easily the most...          0
 20   This if the first movie I've given a 10 to in ...          1
 21   If there was ever a movie that needed word-of-...          1
 22   Overall, the film is interesting and thought-p...          1
 23   Plus, it was well-paced and suited its relativ...          1
 24                             Give this one a look.            1
 25                                    I gave it a 10            1
 26   The Wind and the Lion is well written and supe...          1
 27                             It is a true classic.            1
 28   It actually turned out to be pretty decent as ...          1
 29                    Definitely worth checking out.            1
 ..                                                 ...        ...
 718  Enough can not be said of the remarkable anima...          1
 719  The art style has the appearance of crayon/pen...          1
 720  If you act in such a film, you should be glad ...          0
 721  This one wants to surf on the small wave of sp...          0
 722  If you haven't choked in your own vomit by the...          0
 723  Still, it makes up for all of this with a supe...          1
 724  Just consider the excellent story, solid actin...          1
 725  Instead, we got a bore fest about a whiny, spo...          0
 726  Then I watched it again two Sundays ago (March...          1
 727       It is a very well acted and done TV Movie.            1
 728  Judith Light is one of my favorite actresses a...          1
 729                I keep watching it over and over.            1
 730                 It's a sad movie, but very good.            1
 731  If you have not seen this movie, I definitely ...          1
 732           She is as lovely as usual, this cutie!            1
 733  Still it's quite interesting and entertaining ...          1
 734                    ;) Recommend with confidence!            1
 735  This movie is well-balanced with comedy and dr...          1
 736  It was a riot to see Hugo Weaving play a sex-o...          1
 737  :) Anyway, the plot flowed smoothly and the ma...          1
 738  The opening sequence of this gem is a classic,...          1
 739             Fans of the genre will be in heaven.            1
 740                Lange had become a great actress.            1
 741                It looked like a wonderful story.            1
 742            I never walked out of a movie faster.            0
 743  I just got bored watching Jessice Lange take h...          0
 744  Unfortunately, any virtue in this film's produ...          0
 745                   In a word, it is embarrassing.            0
 746                               Exceptionally bad!            0
 747  All in all its an insult to one's intelligence...          0

 [748 rows x 2 columns],
 'C:/Users/Suhas/Downloads/recruitment-task/data\\yelp_labelled.txt':                                                messages  sentiment
 0                              Wow... Loved this place.        1.0
 1     I learned that if an electric slicer is used t...        NaN
 2                      But they don't clean the chiles?        NaN
 3                                    Crust is not good.        0.0
 4             Not tasty and the texture was just nasty.        0.0
 5     Pancake was WAY bigger than I thought and kind...        NaN
 6     Thai Orchid's menu offers a vast choice of aut...        NaN
 7     I guess if you're eating here, you don't reall...        NaN
 8               Sure, it's good, but it's garlic bread.        NaN
 9     My tortillas were falling apart from the greas...        NaN
 10    Stopped by during the late May bank holiday of...        1.0
 11    The selection on the menu was great and so wer...        1.0
 12       Now I am getting angry and I want my damn pho.        0.0
 13                Honeslty it didn't taste THAT fresh.)        0.0
 14                           Price was very reasonable.        NaN
 15                 Watery espresso with no crema--none.        NaN
 16    The potatoes were like rubber and you could te...        0.0
 17    They seem to be sautéed and are in large chunk...        NaN
 18                            The fries were great too.        1.0
 19                                       A great touch.        1.0
 20       That wasn't even all that great to begin with?        NaN
 21                 One of the amazing berry crumb pies?        NaN
 22    We ordered 2 $.99 Margaritas - they couldnt ge...        NaN
 23                             Service was very prompt.        1.0
 24                                   Would not go back.        0.0
 25    I never know who is my actual server or who to...        NaN
 26    The cashier had no care what so ever on what I...        0.0
 27                 Oh Sura... A Carnivore's Playground!        NaN
 28    I tried the Cape Cod ravoli, chicken,with cran...        1.0
 29                       I suggest upgrading the broth.        NaN
 ...                                                 ...        ...
 3699                              San Jose is too far!!        NaN
 3700                                 Many menu options.        NaN
 3701    My boyfriend and hunt them out in other cities.        NaN
 3702          That's all you need to know right there."        NaN
 3703                  Got the lunch roll special to go!        NaN
 3704  I think food should have flavor and texture an...        0.0
 3705                Seriously, can somebody fill me in?        NaN
 3706                           Appetite instantly gone.        0.0
 3707  Great food might be an understatement, even be...        NaN
 3708  getting the acai bowls for breakfast is a litt...        NaN
 3709  My husband told the maitre'd it was a special ...        NaN
 3710  Overall I was not impressed and would not go b...        0.0
 3711    That's a shame too, because it's a great space.        NaN
 3712  Not only ours, but we smelled a couple more bu...        NaN
 3713                                       Soooo tasty!        NaN
 3714  Beer is definitely the way to go if you are dr...        NaN
 3715  Had just eaten at a couple high end restaurant...        NaN
 3716  I've been to Padre's twice now - once for a fu...        NaN
 3717       It also states they hav 10 years experience.        NaN
 3718  The whole experience was underwhelming, and I ...        0.0
 3719        The worst part of the food is the desserts.        NaN
 3720  It looked like a couple slices of thick turkey...        NaN
 3721  Then, as if I hadn't wasted enough of my life ...        0.0
 3722  Suddenly, a gush of hot liquid poured from the...        NaN
 3723                I opened with a cup of coffee ($3).        NaN
 3724                             The third one was too.        NaN
 3725          This is the very sucks place i ever seen.        NaN
 3726  I recommend the Hot Bagels and Deli to my frie...        NaN
 3727            Great casual (almost divey) atmosphere.        NaN
 3728  How fortunate we are that Stefano Fabbri, owne...        NaN

 [3729 rows x 2 columns]}

In [31]:
# df = pd.DataFrame(
#         {'col1': [1, 2], 'col2': [0.5, 0.75]}, index=['a', 'b'])

# frames = {}

# groups = ['123', '456']
# for grp in groups:
#     #do some calcs to get a dataframe called 'df'
#     frames[grp] = df

In [32]:
# Step 2: Compiling the corpus
# -----------------------------------------------------------------------------


def makeLabel(fromFilePath):
    """Make label for file from file path.

    fromFilePath : Input file path.
    Returns      : String label.

    Sample output:

    '../abc/xyz_labelled.txt' -> 'xyz'
    """
    
    return (os.path.basename(fromFilePath)).split("_labelled")[0]


def concatDataFrames(msgDFDict):
    """Concatenate DataFrames by rows adding a column that indicates the
    source of the message. Make sure that the index for each row is unique.
    
    Sample output:

                                             messages  sentiment         label
    The CG opening sequence in space looked like i...          0          imdb
    Then one day, I went to use them and the recie...        NaN  amazon_cells
    And the pho is much better when it is served f...        NaN          yelp
    I have always had cases for my cell phones bec...        NaN  amazon_cells
                    I'll let you know how it goes....        NaN          yelp
                                  It looks very nice.          1  amazon_cells
        The Veggitarian platter is out of this world!          1          yelp
                  It looked like a wonderful story.            1          imdb
                       Too much hassle for my liking.        NaN  amazon_cells
    So far so good with this one, plus the glowing...        NaN  amazon_cells
    """
    old_keys = [*msgDFDict.keys()]

    new_labels = [makeLabel(x) for x in old_keys]

    for i in range(len(old_keys)):
        msgDFDict[new_labels[i]] = msgDFDict.pop(old_keys[i])
    
    dd1 = { k:v for k, v in msgDFDict.items()}

    df11 = pd.concat(dd1, axis=0)
    df11['labels'] = df11.index
    df11['labels'] = df11['labels'].apply(lambda x: x[0])
    df11.reset_index(drop = True, inplace = True)
    # 19086
    # 18828
    df11 = df11.drop_duplicates()
    df11.dropna(inplace=True)
    df11['sentiment'] = df11['sentiment'].astype('int64')
        
    return df11

# fp = glob.glob('C:/Users/Suhas/Downloads/recruitment-task/data/'+'*_labelled.txt')
# labels = makeLabel(fp)
# labels

# Use functions above to generate a DF which contains messages from
# all sources with corresponding sentiments and labels.

# Some of the messages do not have the sentiment populated. Let's drop
# these from the DF here.

In [33]:
msgsDF = concatDataFrames(DFDict)

In [34]:
msgsDF.shape

(2731, 3)

In [35]:
msgsDF.head()

                                             messages  sentiment        labels
1   So there is no way for me to plug it in here i...          0  amazon_cells
2                         Good case, Excellent value.          1  amazon_cells
5                              Great for the jawbone.          1  amazon_cells
10  Tied to charger for conversations lasting more...          0  amazon_cells
11                                  The mic is great.          1  amazon_cells

In [36]:
# Step 3: Counting the vocabulary
# -----------------------------------------------------------------------------


def makeTermsFrom(msg):
    """Use this function to convert a message into vocabulary terms to
    avoid confusion regarding what is a valid term.
    """
    return [m for m in msg.lower().split() if m]


def countVocabulary(msgsDF):
    """Take a DF of messages, sentiments, and labels and return a DF with
    terms, sentiments, labels, and the corresponding counts. Write
    whatever helper functions are required to achieve this task.

    Sample output:
              term  sentiment         label  count
    0            !          0  amazon_cells      1
    1            !          0          yelp      1
    2            !          1  amazon_cells      1
    3            !          1          imdb      1
    4            !          1          yelp      1
    5           !!          1  amazon_cells      1
    6          !!!          1          yelp      1
    7     !....the          0          yelp      1
    8          !2.          1  amazon_cells      1
    9           !i          1  amazon_cells      1
    10       "1.2"          1  amazon_cells      1
    11        "10"          1          imdb      1
    12          "a          1          imdb      1
    13     "about"          1          imdb      1
    14     "acting          1          imdb      1
    15        "are          0          yelp      1
    16        "art          1          imdb      1
    17         "at          1          imdb      1
    18        "big          1          imdb      1
    19  "breeders"          0          imdb      1
    20      "clip"          0  amazon_cells      1
    21   "collect"          0          imdb      1
    22    "crumby"          0          yelp      1
    23        "don          1          imdb      1
    24        "eel          0          yelp      1
    """
    msgsDF['messages'] = msgsDF['messages'].apply(lambda x: makeTermsFrom(x))
    
    count_v = pd.DataFrame([(row.sentiment,row.labels, word) for row in msgsDF.itertuples() 
                          for word in row.messages], 
                         columns=['sentiment','labels','terms'])
    count_voc = count_v.groupby(['terms','sentiment'])['labels'].value_counts()
    count_vocab = pd.DataFrame({'count': count_voc})
    count_vocab_df = count_vocab.reset_index()
    
    return count_vocab_df


counts = countVocabulary(msgsDF)

In [37]:
counts

                 terms  sentiment        labels  count
0                    !          0  amazon_cells      1
1                    !          0          yelp      1
2                    !          1  amazon_cells      1
3                    !          1          imdb      1
4                    !          1          yelp      1
5                   !!          1  amazon_cells      1
6                  !!!          1          yelp      1
7             !....the          0          yelp      1
8                  !2.          1  amazon_cells      1
9                   !i          1  amazon_cells      1
10               "1.2"          1  amazon_cells      1
11                "10"          1          imdb      1
12                  "a          1          imdb      1
13             "about"          1          imdb      1
14             "acting          1          imdb      1
15                "are          0          yelp      1
16                "art          1          imdb      1
17                 "at          1          imdb      1
18                "big          1          imdb      1
19          "breeders"          0          imdb      1
20              "clip"          0  amazon_cells      1
21           "collect"          0          imdb      1
22            "crumby"          0          yelp      1
23                "don          1          imdb      1
24                "eel          0          yelp      1
25         "explosion"          0          imdb      1
26             "film".          0          imdb      1
27           "gadget".          1          imdb      1
28               "gake          1          imdb      1
29               "gold          0          yelp      1
...                ...        ...           ...    ...
11061            young          1          imdb      2
11062          younger          1          imdb      1
11063             your          0  amazon_cells     17
11064             your          0          imdb     17
11065             your          0          yelp     16
11066             your          1  amazon_cells     14
11067             your          1          yelp      9
11068             your          1          imdb      7
11069            your,          0          imdb      1
11070         yourself          0          yelp      3
11071         yourself          0          imdb      1
11072         youthful          0          imdb      1
11073         youtube.          0          imdb      1
11074         yucky!!!          0          yelp      1
11075            yukon          1          yelp      1
11076              yum          0          yelp      1
11077            yummy          0          yelp      1
11078            yummy          1          yelp      2
11079           yummy.          1          yelp      1
11080              yun          0          imdb      1
11081               z)          0          imdb      1
11082            z500a          1  amazon_cells      1
11083             zero          0          yelp      5
11084             zero          0  amazon_cells      1
11085          zillion          0          imdb      1
11086           zombie          1          imdb      1
11087  zombie-students          0          imdb      1
11088          zombiez          0          imdb      1
11089                          0          imdb      2
11090                          1          imdb      3

[11091 rows x 4 columns]

In [41]:
counts.to_csv("Output data")

============================================================================================================

In [394]:
dft = msgsDF[:3].copy()

In [395]:
dft

                                            messages  sentiments        labels
1  So there is no way for me to plug it in here i...         0.0  amazon_cells
2                        Good case, Excellent value.         1.0  amazon_cells
5                             Great for the jawbone.         1.0  amazon_cells

In [396]:
dft['labels'][2] = 'imdb'
dft['messages'][2] = 'Good case so Excellent value.'
dft['messages'][5] = 'so Great for the jawbone.'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [397]:
dft['messages'] = dft['messages'].apply(lambda x: makeTermsFrom(x))
dft

                                            messages  sentiments        labels
1  [so, there, is, no, way, for, me, to, plug, it...         0.0  amazon_cells
2                [good, case, so, excellent, value.]         1.0          imdb
5                    [so, great, for, the, jawbone.]         1.0  amazon_cells

In [407]:
dft.sentiments = dft.sentiments.astype('int64')

In [408]:
dft

                                            messages  sentiments        labels
1  [so, there, is, no, way, for, me, to, plug, it...           0  amazon_cells
2                [good, case, so, excellent, value.]           1          imdb
5                    [so, great, for, the, jawbone.]           1  amazon_cells

In [418]:
longframe = pd.DataFrame([(row.sentiments,row.labels, word) for row in dft.itertuples() 
                          for word in row.messages], 
                         columns=['sentiments', 'labels','terms'])

In [419]:
longframe

    sentiments        labels       terms
0            0  amazon_cells          so
1            0  amazon_cells       there
2            0  amazon_cells          is
3            0  amazon_cells          no
4            0  amazon_cells         way
5            0  amazon_cells         for
6            0  amazon_cells          me
7            0  amazon_cells          to
8            0  amazon_cells        plug
9            0  amazon_cells          it
10           0  amazon_cells          in
11           0  amazon_cells        here
12           0  amazon_cells          in
13           0  amazon_cells         the
14           0  amazon_cells          us
15           0  amazon_cells      unless
16           0  amazon_cells           i
17           0  amazon_cells          go
18           0  amazon_cells          by
19           0  amazon_cells           a
20           0  amazon_cells  converter.
21           1          imdb        good
22           1          imdb        case
23           1          imdb          so
24           1          imdb   excellent
25           1          imdb      value.
26           1  amazon_cells          so
27           1  amazon_cells       great
28           1  amazon_cells         for
29           1  amazon_cells         the
30           1  amazon_cells    jawbone.

In [423]:
count = longframe.groupby(['terms','sentiments'])['labels'].value_counts()

In [456]:
count

terms       sentiments  labels
a           0           amazon_cells    1
by          0           amazon_cells    1
case        1           imdb            1
converter.  0           amazon_cells    1
excellent   1           imdb            1
for         0           amazon_cells    1
            1           amazon_cells    1
go          0           amazon_cells    1
good        1           imdb            1
great       1           amazon_cells    1
here        0           amazon_cells    1
i           0           amazon_cells    1
in          0           amazon_cells    2
is          0           amazon_cells    1
it          0           amazon_cells    1
jawbone.    1           amazon_cells    1
me          0           amazon_cells    1
no          0           amazon_cells    1
plug        0           amazon_cells    1
so          0           amazon_cells    1
            1           amazon_cells    1
                        imdb            1
the         0           amazon_cells    1
            1           amazon_cells    1
there       0           amazon_cells    1
to          0           amazon_cells    1
unless      0           amazon_cells    1
us          0           amazon_cells    1
value.      1           imdb            1
way         0           amazon_cells    1
Name: labels, dtype: int64

In [426]:
result = pd.DataFrame({'count': count})
result = result.reset_index()
result

         terms  sentiments        labels  count
0            a           0  amazon_cells      1
1           by           0  amazon_cells      1
2         case           1          imdb      1
3   converter.           0  amazon_cells      1
4    excellent           1          imdb      1
5          for           0  amazon_cells      1
6          for           1  amazon_cells      1
7           go           0  amazon_cells      1
8         good           1          imdb      1
9        great           1  amazon_cells      1
10        here           0  amazon_cells      1
11           i           0  amazon_cells      1
12          in           0  amazon_cells      2
13          is           0  amazon_cells      1
14          it           0  amazon_cells      1
15    jawbone.           1  amazon_cells      1
16          me           0  amazon_cells      1
17          no           0  amazon_cells      1
18        plug           0  amazon_cells      1
19          so           0  amazon_cells      1
20          so           1  amazon_cells      1
21          so           1          imdb      1
22         the           0  amazon_cells      1
23         the           1  amazon_cells      1
24       there           0  amazon_cells      1
25          to           0  amazon_cells      1
26      unless           0  amazon_cells      1
27          us           0  amazon_cells      1
28      value.           1          imdb      1
29         way           0  amazon_cells      1

In [459]:
result.terms[0]

'a'

In [311]:
df = pd.DataFrame(
    {'score': [5, 8], 'sentence': ["This is a sentence.", "Another sentence sentence?"]})
df['sentence'] = df['sentence'].str.findall(r'\w+')

In [312]:
df

   score                       sentence
0      5        [This, is, a, sentence]
1      8  [Another, sentence, sentence]

In [313]:
longframe = pd.DataFrame([(row.score, word) for row in df.itertuples() 
                          for word in row.sentence], 
                         columns=['score', 'word'])

In [314]:
longframe

   score      word
0      5      This
1      5        is
2      5         a
3      5  sentence
4      8   Another
5      8  sentence
6      8  sentence