In [45]:
#https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/

import pandas as pd
import requests
# !pip install bs4
# !pip install tabulate
from bs4 import BeautifulSoup
from tabulate import tabulate

In [54]:

res = requests.get("https://ycharts.com/indicators/gold_price_in_indian_rupee")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
print( tabulate(df[0], headers='firstrow', tablefmt='psql') )


# with open("C:\\Users\\11175\\Downloads\\test.tsv", "w") as f:
#     f.write(tabulate(df[0], headers='firstrow', tablefmt='tsv'))

+-----+----------------------------+---------+
|   0 | Data for this Date Range   |     nan |
|-----+----------------------------+---------|
|   1 | Feb. 1, 2019               | 94006.8 |
|   2 | Jan. 31, 2019              | 94109.5 |
|   3 | Jan. 30, 2019              | 93262.9 |
|   4 | Jan. 29, 2019              | 92979.9 |
|   5 | Jan. 28, 2019              | 92636.2 |
|   6 | Jan. 25, 2019              | 92164.5 |
|   7 | Jan. 24, 2019              | 91360.9 |
|   8 | Jan. 23, 2019              | 91307.3 |
|   9 | Jan. 22, 2019              | 91572.4 |
|  10 | Jan. 21, 2019              | 91121.5 |
|  11 | Jan. 18, 2019              | 91348.3 |
|  12 | Jan. 17, 2019              | 91646.1 |
|  13 | Jan. 16, 2019              | 92018.2 |
|  14 | Jan. 15, 2019              | 91921.8 |
|  15 | Jan. 14, 2019              | 91546.1 |
|  16 | Jan. 11, 2019              | 90842   |
|  17 | Jan. 10, 2019              | 91020.8 |
|  18 | Jan. 9, 2019               | 90878.5 |
|  19 | Jan. 8, 2019               | 90299.1 |
|  20 | Jan. 7, 2019               | 90046.9 |
|  21 | Jan. 4, 2019               | 89263.4 |
|  22 | Jan. 3, 2019               | 90454.1 |
|  23 | Jan. 2, 2019               | 89960.1 |
|  24 | Jan. 1, 2019               | 89293.4 |
|  25 | Dec. 31, 2018              | 89293.4 |
+-----+----------------------------+---------+

In [164]:

# !pip install selenium
import warnings
warnings.filterwarnings("ignore")
import csv
import time
import selenium
from selenium import webdriver
from selenium.common.exceptions import TimeoutException, NoSuchElementException
import unicodedata
import re
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [165]:
driver = webdriver.Chrome("C:\\Users\\11175\\Downloads\\chromedriver_win32\\chromedriver.exe")

driver.set_window_size(1024, 600)
driver.maximize_window()

In [166]:
driver.get('https://ycharts.com/indicators/gold_price_in_indian_rupee')

In [168]:
driver.find_element_by_class_name("nextBtn").click()

In [ ]:
for i in range(208):
    driver.find_element_by_class_name("nextBtn").click()
    try:
        tabl_1 = driver.find_elements_by_xpath('//*[@id="dataTableBox"]/div[4]/div[1]/div/table/tbody/tr')
                                             
        tabl_2 = driver.find_elements_by_xpath('//*[@id="dataTableBox"]/div[4]/div[2]/div/table/tbody/tr')

        # tb = []
        for i in range(1,len(tabl_1)):
            tb.append(tabl_1[i].text)

        for i in range(1,len(tabl_2)):
            tb.append(tabl_2[i].text)
    except:
        tabl_1 = driver.find_elements_by_xpath('//*[@id="dataTableBox"]/div[4]/div[1]/div/table/tbody/tr')

        tabl_2 = driver.find_elements_by_xpath('//*[@id="dataTableBox"]/div[4]/div[2]/div/table/tbody/tr')

        # tb = []
        for i in range(1,len(tabl_1)):
            tb.append(tabl_1[i].text)

        for i in range(1,len(tabl_2)):
            tb.append(tabl_2[i].text)

In [191]:
data = {'data': tb}
ddf = pd.DataFrame(data)

In [286]:
data2 = {'data': tk}
ddf2 = pd.DataFrame(data2)

In [290]:
data0 = {'data': ta}
ddf0 = pd.DataFrame(data0)

In [327]:
ygold_final.to_excel("C:\\Users\\11175\\Downloads\\ychart_gold_final.xls")

In [293]:
ygold = pd.read_csv("C:\\Users\\11175\\Downloads\\ychart_gold_0.csv",sep=",")
ygold.head()

   Unnamed: 0                   data0
0           0   Feb. 1, 2019 94006.81
1           1  Jan. 31, 2019 94109.53
2           2  Jan. 30, 2019 93262.85
3           3  Jan. 29, 2019 92979.85
4           4  Jan. 28, 2019 92636.23

In [308]:
del ygold['Unnamed: 0']

ygold.head()

                     data
0   Feb. 1, 2019 94006.81
1  Jan. 31, 2019 94109.53
2  Jan. 30, 2019 93262.85
3  Jan. 29, 2019 92979.85
4  Jan. 28, 2019 92636.23

In [296]:
ygold1 = pd.read_csv("C:\\Users\\11175\\Downloads\\ychart_gold_1.csv",sep=",")
ygold1.head()

   Unnamed: 0                    data
0           0  Nov. 23, 2018 86799.60
1           1  Nov. 22, 2018 87040.77
2           2  Nov. 21, 2018 87647.73
3           3  Nov. 20, 2018 87426.14
4           4  Nov. 19, 2018 87463.48

In [307]:
del ygold1['Unnamed: 0']

ygold1.head()

                     data
0  Nov. 23, 2018 86799.60
1  Nov. 22, 2018 87040.77
2  Nov. 21, 2018 87647.73
3  Nov. 20, 2018 87426.14
4  Nov. 19, 2018 87463.48

In [303]:
ygold2 = pd.read_csv("C:\\Users\\11175\\Downloads\\ychart_gold_2.csv",sep=",")
ygold2.head()

   Unnamed: 0 data2
0           0   NaN
1           1   NaN
2           2   NaN
3           3   NaN
4           4   NaN

In [304]:

del ygold2['Unnamed: 0']

ygold2.head()

In [309]:
print (len(ygold))
print (len(ygold1))
print (len(ygold2))

50
7439
5924

In [310]:
ygold_final = ygold.append([ygold1, ygold2], ignore_index=True)

In [316]:
len(ygold_final)
# 13413
# 10419

10419

In [315]:
ygold_final.dropna(inplace=True)

In [325]:
ygold_final.head()

                     data     date
0   Feb. 1, 2019 94006.81   Feb. 1
1  Jan. 31, 2019 94109.53  Jan. 31
2  Jan. 30, 2019 93262.85  Jan. 30
3  Jan. 29, 2019 92979.85  Jan. 29
4  Jan. 28, 2019 92636.23  Jan. 28